.banners {
  background-image: url("../assets/_Section\ 1.png");
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}
.about-collapses {
  gap: 30px;
  padding: 80px 35px;
}
