.home {
  padding: 40px;
}

.card-container {
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 25px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 768px) {
  /* Banner plus petite */
  .banner {
    height: 111px;
    border-radius: 10px;
  }

  .banner h1 {
    font-size: 24px;
    text-align: left;
    left: 20px;
    transform: translateY(-50%);
  }

  /* Card container : une seule colonne, scroll vertical */
  .card-container {
    display: grid;
    grid-template-columns: 1fr; /* 1 colonne → une carte par ligne */
    gap: 20px;
    padding: 20px;
  }

  .card {
    width: 100%; /* prend toute la largeur de la colonne */
  }
}
