.collapse {
  margin-bottom: 20px;
}

.collapse-header {
  background-color: #ff6060;
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-content {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
